<style>
    .row-block {
        margin: 5px 0px;
    }

    .txt-label {
        padding-top: 7px;
        text-align:right;
    }

    .width100 {
        width: 100% !important;
    }
</style>
<div id="collapseDiv" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
    <div class="well SearchBox">

        @using (Ajax.BeginForm("searchData", "TdHoSoUngVien", new { Area = "TdHoSoUngVienArea" },
            new AjaxOptions()
            {
                HttpMethod = "POST",
                OnFailure = "AjaxFormError",
                OnSuccess = "AjaxSearchSuccess",
            }, new { }))
        {
            @Html.AntiForgeryToken()
        <div class="row row-block">
            <div class="col-md-6 row-block">

                <div class="col-md-4 txt-label">Họ tên</div>
                <div class="col-md-8">
                    <input class="form-control width100" type="text" name="sea_HOTEN" />
                </div>

            </div>
            <div class="col-md-6 row-block">

                <div class="col-md-4 txt-label">Ngày sinh</div>
                <div class="col-md-8">
                    <input class="form-control width100 txt-picker" type="text" name="sea_NGAYSINH" />
                </div>

            </div>
            <div class="col-md-6 row-block">

                <div class="col-md-4 txt-label">Điện thoại</div>
                <div class="col-md-8">
                    <input class="form-control width100" type="text" name="sea_DIENTHOAI" />
                </div>

            </div>
            <div class="col-md-6 row-block">

                <div class="col-md-4 txt-label">Email</div>
                <div class="col-md-8">
                    <input class="form-control width100" type="text" name="sea_EMAIL" />
                </div>

            </div>
            <div class="col-md-6 row-block">

                <div class="col-md-4 txt-label">Giới tính</div>
                <div class="col-md-8">
                    @Html.DropDownList("sea_GIOITINH", new List<SelectListItem>() {
              new SelectListItem { Text = "-- Chọn giới tính --", Value= ""},
              new SelectListItem { Text = "Nam", Value = "Nam" },
              new SelectListItem { Text = "Nữ", Value = "Nữ" },
               },
              new { @class = " form-control", @style = "width:100%" })
                </div>

            </div>
            <div class="col-md-6 row-block">

                <div class="col-md-4 txt-label">Đợt tuyển dụng</div>
                <div class="col-md-8">
                    <input class="form-control width100" type="text" name="sea_DOT_ID" />
                </div>

            </div>
            <div class="col-md-6 row-block">

                <div class="col-md-4 txt-label">Yêu cầu tuyển dụng</div>
                <div class="col-md-8">
                    <input class="form-control width100" type="text" name="sea_YEUCAU" />
                </div>

            </div>

            <div class="col-md-12 center" style=" margin-top:20px;">
                <button id="btnSearch" type="submit" class="btn btn-labeled btn-primary btn-sm">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    Tìm kiếm
                </button>

                <a aria-expanded="false" href="#collapseDiv" data-toggle="collapse" role="button" class="btn btn-labeled btn-danger btn-sm">
                    <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
                    Đóng
                </a>
            </div>
        </div>

        }
    </div>
</div>


