@{
    ViewBag.Title = "Quản lý nhóm kỹ năng";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý nhóm kỹ năng";
    ViewBag.PageName = "Danh sách nhóm kỹ năng";

}
@using QLNS.Model.Entities;
@using Newtonsoft.Json;
@using QLNS.Web.Areas.RecruitmentSkillArea.Models;

@model RecruitmentSkillViewModel.RecruitmentSkillIndexViewModel
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.GroupData.ListItem));
}

@section ActionBarRight{
    <a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>
    <a href="javascript:void(0)" onclick="CreateAction('/RecruitmentSkillArea/RecruitmentSkill/Edit')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-skills" class="hntbl-cover">
    <table class="hinet-table table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên nhóm kỹ năng</th>
                <th>Số lượng kỹ năng</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        var lstData = eval(@lstData);
        var moduleTableSelector = "#tbl-skills";

        function pagefunction(){
            var conf=[
                {
                    tdClass:"center",
                    isSort: false,
                    isCounter: true,
                    nameModel:"",
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },
                {
                    isSort:true,
                    nameModel:'Title',
                    content: function (data) {
                        return data.Title;
                    }
                },
                 {
                     isSort:false,
                     nameModel:'NumberOfSkills',
                     content: function (data) {
                         var html = '';
                         html += "<b>" + data.NumberOfSkills + "</b>";
                         html += '&nbsp;<a id="btn--skill-' + data.Id + '" href="javascript:void(0)" onclick="showSkill(' + data.Id + ')"><i class="fa fa-eye"></i>&nbsp;Xem chi tiết</a>'
                         html += '<div class="hide" id="block--skill-' + data.Id + '">';
                         html += "<ul>";
                         $.each(data.GroupSkillDetails, function (index, item) {
                             html += "<li>" + item.Name + "</li>";
                         });
                         html += "</ul>";
                         html += '</div>';
                         return html;
                     }
                },
                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center",
                       content: function (data) {
                           var result = "<div class='btn-group'>";
                           result += "<a href='javascript:void(0)' onclick='EditAction(\"/RecruitmentSkillArea/RecruitmentSkill/Edit?id=" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i></a> ";
                           result += "<a href='javascript:void(0)' onclick='onDelete(\"/RecruitmentSkillArea/RecruitmentSkill/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i></a>";
                           result += "</div>";
                           return result;
                       }
                   },

            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/RecruitmentSkillArea/RecruitmentSkill/GetData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).hinetTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData = $("#tbl-skills").hinetTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.GroupData.TotalPage,
                recordCount: @Model.GroupData.Count,
                getData:getdatafunc,
                listItem: lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).hinetTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).hinetTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }

        function showSkill(id) {
            var button = $('#btn--skill-' + id);
            var target = $('#block--skill-' + id);
            if (target != null) {
                if (target.hasClass('hide')) {
                    button.html('<i class="fa fa-eye-slash"></i>&nbsp;Ẩn chi tiết');
                    target.removeClass('hide');
                } else {
                    target.addClass('hide');
                    button.html('<i class="fa fa-eye"></i>&nbsp;Xem chi tiết');
                }
            }
        }
        pagefunction();
    </script>
}

