@{
    ViewBag.Title = "Quản lý chức năng";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý chức năng";
    ViewBag.PageName = "Danh sách chức năng";

}
@using QLNS.Model.Entities;
@using QLNS.Model.IdentityEntities;
@using Newtonsoft.Json;
@using QLNS.Web.Areas.ModuleArea.Models;

@model ModuleViewModel.ModuleIndexViewModel
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.GroupData.ListItem));
}
<link href="~/Content/hinet-table.css" rel="stylesheet" />
@section ActionBarRight{
    <a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>
    <a href="javascript:void(0)" onclick="CreateAction('/ModuleArea/Module/Edit')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-module" class="hntbl-cover">
    <table class="hinet-table table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Mã chức năng</th>
                <th>Tên chức năng</th>
                <th>Thứ tự</th>
                <th>Trạng thái</th>
                <th>Icon</th>
                <th>Class Css</th>
                <th>Style Css</th>
                <th>Số thao tác</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        var lstData = eval(@lstData);
        var moduleTableSelector = "#tbl-module";

        function pagefunction(){
            var conf=[
                {
                    tdClass:"center",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },
                {
                    isSort: true,
                    nameModel: 'Code',
                    content: function (data) {
                        return "<span style='font-weight: bold'> " + data.Code+"</span>"
                    }
                },
                {
                    isSort:true,
                    nameModel:'Name',
                    content: function (data) {
                        return "<span style='font-weight: bold'> " + data.Name + "</span>"
                    }
                },
                 {
                     isSort:true,
                     nameModel:'Order',
                     content: function (data) {
                         return data.Order
                     }
                },
                {
                    isSort: true,
                    nameModel: 'IsShow',
                    content: function (data) {
                        return data.IsShow ? "<b class='text-success'>Hiển thị</b>" : "<b class='text-danger'>Không hiển thị</b>";
                    }
                },
                {
                    isSort: true,
                    nameModel: 'Icon',
                    content: function (data) {
                        return data.Icon
                    }
                },
                {
                    isSort: true,
                    nameModel: 'ClassCss',
                    content: function (data) {
                        return data.ClassCss
                    }
                },
                {
                    isSort: true,
                    nameModel: 'StyleCss',
                    content: function (data) {
                        return data.StyleCss
                    }
                },
                {
                    isSort: true,
                    nameModel: 'OperationQuantity',
                    content: function (data) {
                        return data.OperationQuantity;
                    }
                },
                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center",
                       content: function (data) {
                           var result = "<div class='btn-group'>";
                           result += "<a href='javascript:void(0)' onclick='EditAction(\"/ModuleArea/Module/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i></a> ";
                           result += "<a href='javascript:void(0)' onclick='onDelete(\"/ModuleArea/Module/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i></a>";
                           result += "<a href='/OperationArea/Operation/Index?moduleId="+data.Id+"' title='Danh sách thao tác'><i class='fa fa-cogs text-primary'></i></a>";
                           result += "</div>";
                           return result;
                       }
                   },
            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/ModuleArea/Module/GetData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).hinetTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-module").hinetTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.GroupData.TotalPage,
                recordCount: @Model.GroupData.Count,
                getData:getdatafunc,
                listItem: lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).hinetTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).hinetTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
    </script>
}