
@{
    ViewBag.Title = "Quản lý biểu mẫu test";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý biểu mẫu test";
}
@using QLNS.Model.Entities;
@using Newtonsoft.Json;
@using QLNS.Service.Common;
@using QLNS.Service.TD_QuanLyMauTestService.DTO;
@using QLNS.Web.Areas.TdQuanLyMauTestArea.Models;
@model PageListResultBO<QuanLyMauTestDTO>
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}

<style>
    .action-icon {
        margin-right: 5px;
    }

    .toUpper {
        text-transform: uppercase;
    }
</style>


@section ActionBarRight{
    <a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>
    <a href="javascript:void(0)" onclick="CreateAction('/TdQuanLyMauTestArea/TdQuanLyMauTest/Create/')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-TdQuanLyMauTest" class="hntbl-cover">
    <table class="hinet-table table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="width:3%">#</th>
                <th style="width:28%">Tiêu đề biểu mẫu</th>
                <th style="width:28%">Thể loại</th>
                <th style="width:15%">Thao tác</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-TdQuanLyMauTest";
        function pagefunction(){
            var conf = [
                {
                    tdClass: "center",
                    isSort: false,
                    isCounter: true,
                    nameModel: "",
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },
                {
                    isSort: true,
                    nameModel: 'FileName',
                    content: function (data) {
                        return `<a href="/Uploads/${data.FileDirectory}" download><i class="fa fa-download"></i> ${data.FileName}</a>`
                    }
                },
                {
                    isSort: true,
                    nameModel: 'Category',
                    content: function (data) {
                        return data.Category
                    }
                },
                {
                    isSort: false,
                    nameModel: "",
                    content: function (data) {
                        var result = "<div class='btn-group' style='display:flex; justify-content:center;'>";
                        result += "<a style='margin-right:5px;' class='btn btn-primary btn-sm' href='javascript:void(0)' onclick='EditAction(\"/TdQuanLyMauTestArea/TdQuanLyMauTest/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit action-icon'></i>Chỉnh sửa</a>";
                        result += "<a class='btn btn-danger btn-sm' href='javascript:void(0)' onclick='onDelete(\"/TdQuanLyMauTestArea/TdQuanLyMauTest/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove action-icon'></i>Xoá</a>";
                        result += "</div>";
                        return result;
                    }
                },
            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/TdQuanLyMauTestArea/TdQuanLyMauTest/GetData',
                    type: 'post',
                    cache: false,
                    data: { "indexPage": page, "sortQuery": sortQuery, "pageSize": pageSize },
                    success: function (data) {
                        $(moduleTableSelector).hinetTable("data", {
                            pageSize: pageSize != -1 ? pageSize : data.Count,
                            pageIndex: page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,
                        });
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData = $(moduleTableSelector).hinetTable("init", {
                pageSizeList: { size: [20, 50, 100, -1], label: ['20', '50', '100', 'Tất cả'] },
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                getData: getdatafunc,
                listItem: lstData,
                config: conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).hinetTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).hinetTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();

        $(document).ready(function () {
            $(".chosen-select").chosen({
                width: "100%",
                placeholder_text_multiple: 'Chọn thể loại'
            });
        })
    </script>
}