USE [master]
GO
/****** Object:  Database [QLNS2019]    Script Date: 10/3/2019 9:01:31 PM ******/
CREATE DATABASE [QLNS2019] ON  PRIMARY 
( NAME = N'QLNS2019', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\QLNS2019.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLNS2019_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\QLNS2019_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS2019].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS2019]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppClaim]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppClaim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AppClaim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppLogin]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppLogin](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.AppLogin] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppRole]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppRole](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AppRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[BirthDay] [datetime] NULL,
	[Gender] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[FullName] [nvarchar](250) NULL,
	[Avatar] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AppUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUserRole]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserRole](
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.AppUserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audit]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit](
	[AuditID] [uniqueidentifier] NOT NULL,
	[SessionID] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[URLAccessed] [nvarchar](max) NULL,
	[TimeAccessed] [datetime] NOT NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Audit] PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommonConfiguration]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonConfiguration](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ConfigName] [nvarchar](250) NOT NULL,
	[ConfigCode] [nvarchar](250) NOT NULL,
	[ConfigData] [nvarchar](250) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.CommonConfiguration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfigRecruitmentRequest]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigRecruitmentRequest](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [bigint] NULL,
	[GroupSkillId] [bigint] NULL,
	[SkillId] [bigint] NULL,
	[CategoryId] [bigint] NULL,
	[CategoryData] [nvarchar](max) NULL,
	[AbsoluteNumber] [int] NULL,
	[TextValue] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.ConfigRecruitmentRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Code] [nvarchar](250) NOT NULL,
	[ParentId] [bigint] NULL,
	[Level] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[Priority] [bigint] NULL,
 CONSTRAINT [PK_dbo.Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_DulieuDanhmuc]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_DulieuDanhmuc](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupId] [bigint] NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Code] [nvarchar](250) NOT NULL,
	[Note] [nvarchar](250) NULL,
	[Priority] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.DM_DulieuDanhmuc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_NhomDanhmuc]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NhomDanhmuc](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](150) NOT NULL,
	[GroupCode] [nvarchar](150) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.DM_NhomDanhmuc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](250) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Order] [int] NOT NULL,
	[IsShow] [bit] NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[ClassCss] [nvarchar](250) NULL,
	[StyleCss] [nvarchar](250) NULL,
	[Link] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Module] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operation]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[URL] [nvarchar](250) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Css] [nvarchar](250) NULL,
	[IsShow] [bit] NOT NULL,
	[Order] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Operation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecruitmentRequest]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecruitmentRequest](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[UntilDate] [datetime] NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Comment] [nvarchar](250) NULL,
	[ReasonClose] [nvarchar](250) NULL,
	[PositionId] [int] NOT NULL,
	[EstimateQuantity] [int] NOT NULL,
	[SkillGroups] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[TemplateId] [bigint] NULL,
	[IsTemplate] [bit] NULL,
 CONSTRAINT [PK_dbo.RecruitmentRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecruitmentSkill]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecruitmentSkill](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Skills] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.RecruitmentSkill] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecruitmentSkillDetail]    Script Date: 10/3/2019 9:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecruitmentSkillDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DataType] [int] NOT NULL,
	[CategoryId] [bigint] NULL,
	[CategoryData] [nvarchar](max) NULL,
	[UpperNumber] [int] NULL,
	[LowerNumber] [int] NULL,
	[AbsoluteNumber] [int] NULL,
	[TextValue] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.RecruitmentSkillDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/3/2019 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Code] [nvarchar](250) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleOperation]    Script Date: 10/3/2019 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleOperation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[OperationId] [bigint] NOT NULL,
	[IsAccess] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.RoleOperation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiLieuDinhKem]    Script Date: 10/3/2019 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiLieuDinhKem](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[KichThuoc] [bigint] NULL,
	[NgayPhatHanh] [datetime] NULL,
	[TenTaiLieu] [nvarchar](500) NOT NULL,
	[LoaiTaiLieu] [nvarchar](250) NULL,
	[Item_ID] [bigint] NULL,
	[MoTa] [nvarchar](max) NULL,
	[DuongDanFile] [nvarchar](max) NULL,
	[DinhDangFile] [nvarchar](250) NULL,
	[SoLuongDownload] [int] NOT NULL,
	[UserId] [bigint] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.TaiLieuDinhKem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD_CauHinhSangLocUngVien]    Script Date: 10/3/2019 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_CauHinhSangLocUngVien](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[InterviewDate] [datetime] NULL,
	[InterviewerId] [bigint] NULL,
	[TestId] [bigint] NULL,
	[TestApprovedLimit] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[DotTuyenDungId] [bigint] NULL,
	[Priority] [int] NULL,
	[InterviewerName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TD_CauHinhSangLocUngVien] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD_DotTuyenDung]    Script Date: 10/3/2019 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_DotTuyenDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDot] [nvarchar](250) NOT NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.TD_DotTuyenDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD_HoSoUngVien]    Script Date: 10/3/2019 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_HoSoUngVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IDDotTuyenDung] [int] NULL,
	[IdYeuCauTuyenDung] [int] NULL,
	[NgayNopHoSo] [datetime] NOT NULL,
	[HoTen] [nvarchar](250) NOT NULL,
	[KenhUngTuyen] [nvarchar](250) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[DienThoai] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[DiaChiHienTai] [nvarchar](500) NULL,
	[CMND] [nvarchar](50) NULL,
	[NgayCapCMND] [datetime] NULL,
	[NoiCapCMND] [nvarchar](500) NULL,
	[NoiSinh] [nvarchar](500) NULL,
	[DanToc] [nvarchar](100) NULL,
	[TonGiao] [nvarchar](100) NULL,
	[QuocTich] [nvarchar](100) NULL,
	[QueQuan] [nvarchar](100) NULL,
	[DiaChiThuongTru] [nvarchar](max) NULL,
	[XuatThan] [nvarchar](250) NULL,
	[ThuNhapGanNhat] [decimal](18, 2) NULL,
	[ThuNhapMongMuon] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[LyDoUngTuyen] [nvarchar](max) NULL,
	[NguoiGioiThieu] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[TrangThai] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TD_HoSoUngVien] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD_KetQuaPhongVan]    Script Date: 10/3/2019 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_KetQuaPhongVan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiemSo] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.TD_KetQuaPhongVan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD_QuanLyMauTest]    Script Date: 10/3/2019 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_QuanLyMauTest](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[FileDirectory] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[Size] [bigint] NULL,
 CONSTRAINT [PK_dbo.TD_QuanLyMauTest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD_YeuCauVaDotTuyenDung]    Script Date: 10/3/2019 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_YeuCauVaDotTuyenDung](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdYeuCauTuyenDung] [int] NOT NULL,
	[IdDotTuyenDung] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.TD_YeuCauVaDotTuyenDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 10/3/2019 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppUser] ON 

INSERT [dbo].[AppUser] ([Id], [UserName], [Email], [PhoneNumber], [BirthDay], [Gender], [Address], [FullName], [Avatar], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount]) VALUES (2, N'duynn', NULL, NULL, NULL, 0, NULL, NULL, N'images/avatars2\mùa đông hàn quốc.jpg', 0, N'APqaeKCI11P99tX5pQLNq1e1dnYCI/64Ug/Z4LZ3+AyFH9xmHBiBEoOKI75dGL7HzQ==', N'369de526-9404-4faa-ac90-126c29056297', 0, 0, NULL, 1, 0)
INSERT [dbo].[AppUser] ([Id], [UserName], [Email], [PhoneNumber], [BirthDay], [Gender], [Address], [FullName], [Avatar], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount]) VALUES (3, N'manhvp', N'abcd@gmail.com', N'123456789', CAST(N'2019-05-05T00:00:00.000' AS DateTime), 1, N'TP Ninh Bình', N'Phạm Vũ Mạnh', N'images/avatars/profile-pic.jpg', 0, N'ACZVvTkcbYDKvKH0/Ww2LiLCpGvklb5mnG7AwltNSkzC6xkUsp7FIUAuhGytm1XnRg==', N'01f8031f-3e4e-49ff-a907-9c06e30f2027', 0, 0, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[AppUser] OFF
SET IDENTITY_INSERT [dbo].[CommonConfiguration] ON 

INSERT [dbo].[CommonConfiguration] ([Id], [ConfigName], [ConfigCode], [ConfigData], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'Tên Công ty', N'TENCONGTY', N'HiNET SJC', CAST(N'2019-05-04T04:05:53.247' AS DateTime), N'admin', CAST(N'2019-05-04T04:05:53.247' AS DateTime), N'admin')
INSERT [dbo].[CommonConfiguration] ([Id], [ConfigName], [ConfigCode], [ConfigData], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Mạnh', N'M01', N'Dữ liệu trống', CAST(N'2019-05-07T04:01:28.710' AS DateTime), N'admin', CAST(N'2019-05-07T04:01:28.710' AS DateTime), N'admin')
INSERT [dbo].[CommonConfiguration] ([Id], [ConfigName], [ConfigCode], [ConfigData], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'                       Duy ', N'                      D01', N'                     Dữ lệu trống', CAST(N'2019-05-07T04:02:19.507' AS DateTime), N'admin', CAST(N'2019-05-07T04:02:19.507' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[CommonConfiguration] OFF
SET IDENTITY_INSERT [dbo].[ConfigRecruitmentRequest] ON 

INSERT [dbo].[ConfigRecruitmentRequest] ([Id], [RequestId], [GroupSkillId], [SkillId], [CategoryId], [CategoryData], [AbsoluteNumber], [TextValue], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (52, 3, 3, 1, 3, N'2,3', NULL, NULL, CAST(N'2019-05-03T16:52:01.747' AS DateTime), NULL, CAST(N'2019-05-03T16:52:01.747' AS DateTime), NULL)
INSERT [dbo].[ConfigRecruitmentRequest] ([Id], [RequestId], [GroupSkillId], [SkillId], [CategoryId], [CategoryData], [AbsoluteNumber], [TextValue], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (53, 3, 3, 2, 5, N'7,8', NULL, NULL, CAST(N'2019-05-03T16:52:01.753' AS DateTime), NULL, CAST(N'2019-05-03T16:52:01.753' AS DateTime), NULL)
INSERT [dbo].[ConfigRecruitmentRequest] ([Id], [RequestId], [GroupSkillId], [SkillId], [CategoryId], [CategoryData], [AbsoluteNumber], [TextValue], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (54, 3, 3, 5, NULL, NULL, NULL, N'- Có bằng thạc sỹ', CAST(N'2019-05-03T16:52:01.773' AS DateTime), NULL, CAST(N'2019-05-03T16:52:01.773' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ConfigRecruitmentRequest] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [Name], [Code], [ParentId], [Level], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Priority]) VALUES (2, N'Công ty Cổ phần Công nghệ Hinet Việt Nam', N'HINET JSC', NULL, 1, CAST(N'2019-05-02T12:39:37.523' AS DateTime), N'admin', CAST(N'2019-05-07T03:33:53.967' AS DateTime), N'admin', 1)
INSERT [dbo].[Department] ([Id], [Name], [Code], [ParentId], [Level], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Priority]) VALUES (5, N'Phòng Kinh Doanh', N'PHONG_KINH_DOANH', 2, 2, CAST(N'2019-05-03T08:55:54.617' AS DateTime), N'admin', CAST(N'2019-05-07T03:33:54.020' AS DateTime), N'admin', 4)
INSERT [dbo].[Department] ([Id], [Name], [Code], [ParentId], [Level], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Priority]) VALUES (9, N'Phòng Giải pháp', N'PHONG_GIAI_PHAP', 2, 2, CAST(N'2019-05-04T01:59:21.067' AS DateTime), N'admin', CAST(N'2019-05-07T03:33:53.983' AS DateTime), N'admin', 2)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[DM_DulieuDanhmuc] ON 

INSERT [dbo].[DM_DulieuDanhmuc] ([Id], [GroupId], [Name], [Code], [Note], [Priority], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, 2, N'Lập trình viên', N'LTV', NULL, 1, CAST(N'2019-05-02T08:44:47.680' AS DateTime), NULL, CAST(N'2019-05-02T08:44:47.680' AS DateTime), NULL)
INSERT [dbo].[DM_DulieuDanhmuc] ([Id], [GroupId], [Name], [Code], [Note], [Priority], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, 3, N'Nam (Male)', N'GT_NAM', NULL, 1, CAST(N'2019-05-02T07:23:35.913' AS DateTime), N'duynn', CAST(N'2019-05-02T07:24:48.083' AS DateTime), N'duynn')
INSERT [dbo].[DM_DulieuDanhmuc] ([Id], [GroupId], [Name], [Code], [Note], [Priority], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, 3, N'Nữ (Female)', N'GT_NU', NULL, 2, CAST(N'2019-05-02T07:24:37.657' AS DateTime), N'duynn', CAST(N'2019-05-02T07:24:51.110' AS DateTime), N'duynn')
SET IDENTITY_INSERT [dbo].[DM_DulieuDanhmuc] OFF
SET IDENTITY_INSERT [dbo].[DM_NhomDanhmuc] ON 

INSERT [dbo].[DM_NhomDanhmuc] ([Id], [GroupName], [GroupCode], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Vị trí', N'VITRI', CAST(N'2019-05-02T08:44:47.680' AS DateTime), NULL, CAST(N'2019-05-02T08:44:47.680' AS DateTime), NULL)
INSERT [dbo].[DM_NhomDanhmuc] ([Id], [GroupName], [GroupCode], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Giới tính', N'GIOITINH', CAST(N'2019-05-02T07:18:21.053' AS DateTime), N'duynn', CAST(N'2019-05-02T07:18:21.053' AS DateTime), N'duynn')
INSERT [dbo].[DM_NhomDanhmuc] ([Id], [GroupName], [GroupCode], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (4, N'Ngoại hình', N'NGOAIHINH', CAST(N'2019-05-02T07:18:36.060' AS DateTime), N'duynn', CAST(N'2019-05-02T07:18:36.060' AS DateTime), N'duynn')
SET IDENTITY_INSERT [dbo].[DM_NhomDanhmuc] OFF
SET IDENTITY_INSERT [dbo].[Module] ON 

INSERT [dbo].[Module] ([Id], [Code], [Name], [Order], [IsShow], [Icon], [ClassCss], [StyleCss], [Link], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (4, N'QLHeThong', N'Quản lý hệ thống', 0, 1, NULL, N'fa fa-cogs', NULL, NULL, CAST(N'2019-05-03T07:09:11.070' AS DateTime), N'admin', CAST(N'2019-05-03T07:09:11.070' AS DateTime), N'admin')
INSERT [dbo].[Module] ([Id], [Code], [Name], [Order], [IsShow], [Icon], [ClassCss], [StyleCss], [Link], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (5, N'QlTuyenDung', N'Tuyển dụng', 0, 1, NULL, N'fa fa-users', NULL, NULL, CAST(N'2019-05-03T07:10:51.853' AS DateTime), N'admin', CAST(N'2019-05-03T09:42:30.447' AS DateTime), N'admin')
INSERT [dbo].[Module] ([Id], [Code], [Name], [Order], [IsShow], [Icon], [ClassCss], [StyleCss], [Link], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (6, N'QL_KYNANG', N'Quản lý kỹ năng', 0, 1, NULL, N'fa fa-cog', NULL, NULL, CAST(N'2019-05-03T09:43:24.450' AS DateTime), N'admin', CAST(N'2019-05-03T09:43:24.450' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Module] OFF
SET IDENTITY_INSERT [dbo].[Operation] ON 

INSERT [dbo].[Operation] ([Id], [ModuleId], [Name], [URL], [Code], [Css], [IsShow], [Order], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, 1, N'Quản  lý tài khoản', N'/userarea/user', N'QLTaiKhoan', NULL, 1, 0, CAST(N'2019-05-03T04:20:57.613' AS DateTime), N'admin', CAST(N'2019-05-03T04:20:57.613' AS DateTime), N'admin')
INSERT [dbo].[Operation] ([Id], [ModuleId], [Name], [URL], [Code], [Css], [IsShow], [Order], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, 4, N'Quản lý chức năng', N'/moduleArea/Module/Index', N'QLChucNang', NULL, 1, 0, CAST(N'2019-05-03T07:09:52.227' AS DateTime), N'admin', CAST(N'2019-05-03T07:09:52.227' AS DateTime), N'admin')
INSERT [dbo].[Operation] ([Id], [ModuleId], [Name], [URL], [Code], [Css], [IsShow], [Order], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, 5, N'Hồ sơ ứng viên', N'/TDHoSoUngVienArea/TDHoSoUngVien/Index', N'HsUngVien', NULL, 1, 0, CAST(N'2019-05-03T07:11:38.167' AS DateTime), N'admin', CAST(N'2019-05-03T07:17:15.213' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Operation] OFF
SET IDENTITY_INSERT [dbo].[RecruitmentRequest] ON 

INSERT [dbo].[RecruitmentRequest] ([Id], [DepartmentId], [Status], [UntilDate], [Title], [Comment], [ReasonClose], [PositionId], [EstimateQuantity], [SkillGroups], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [TemplateId], [IsTemplate]) VALUES (3, 5, N'DangTuyen', CAST(N'2019-05-03T00:00:00.000' AS DateTime), N'Tuyển dụng lập trình viên .NET', NULL, NULL, 1, 5, N'3,4,5,6', CAST(N'2019-05-03T09:50:24.780' AS DateTime), N'admin', CAST(N'2019-05-04T03:23:38.847' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[RecruitmentRequest] ([Id], [DepartmentId], [Status], [UntilDate], [Title], [Comment], [ReasonClose], [PositionId], [EstimateQuantity], [SkillGroups], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [TemplateId], [IsTemplate]) VALUES (6, 2, N'DangTuyen', CAST(N'2019-05-03T00:00:00.000' AS DateTime), N'Tuyển dụng lập trình viên PHP', NULL, NULL, 1, 1, N'5', CAST(N'2019-05-03T11:54:39.333' AS DateTime), N'admin', CAST(N'2019-05-04T03:24:09.067' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[RecruitmentRequest] ([Id], [DepartmentId], [Status], [UntilDate], [Title], [Comment], [ReasonClose], [PositionId], [EstimateQuantity], [SkillGroups], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [TemplateId], [IsTemplate]) VALUES (7, 0, N'DangTuyen', CAST(N'2019-05-04T16:57:18.237' AS DateTime), N'.NET', N'', NULL, 0, 0, N'3,4', CAST(N'2019-05-04T09:57:18.303' AS DateTime), N'admin', CAST(N'2019-05-07T07:18:59.363' AS DateTime), N'admin', NULL, 1)
SET IDENTITY_INSERT [dbo].[RecruitmentRequest] OFF
SET IDENTITY_INSERT [dbo].[RecruitmentSkill] ON 

INSERT [dbo].[RecruitmentSkill] ([Id], [Title], [Skills], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Yêu cầu chung', N'1,2,3,4,5', CAST(N'2019-05-02T09:14:27.007' AS DateTime), N'duynn', CAST(N'2019-05-02T09:18:31.207' AS DateTime), N'duynn')
INSERT [dbo].[RecruitmentSkill] ([Id], [Title], [Skills], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (4, N'Yêu cầu kỹ năng', N'7,8,9,10,11,12,13,14,15,16,17', CAST(N'2019-05-02T09:19:56.283' AS DateTime), N'duynn', CAST(N'2019-05-02T09:24:37.243' AS DateTime), N'duynn')
INSERT [dbo].[RecruitmentSkill] ([Id], [Title], [Skills], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (5, N'Yêu cầu sức khỏe', N'18,20', CAST(N'2019-05-02T09:24:49.007' AS DateTime), N'duynn', CAST(N'2019-05-03T11:54:23.347' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[RecruitmentSkill] OFF
SET IDENTITY_INSERT [dbo].[RecruitmentSkillDetail] ON 

INSERT [dbo].[RecruitmentSkillDetail] ([Id], [Name], [DataType], [CategoryId], [CategoryData], [UpperNumber], [LowerNumber], [AbsoluteNumber], [TextValue], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'Giới tính', 1, 3, NULL, NULL, NULL, 100, NULL, CAST(N'2019-05-02T08:15:50.567' AS DateTime), N'duynn', CAST(N'2019-05-02T08:29:50.273' AS DateTime), N'duynn')
INSERT [dbo].[RecruitmentSkillDetail] ([Id], [Name], [DataType], [CategoryId], [CategoryData], [UpperNumber], [LowerNumber], [AbsoluteNumber], [TextValue], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Trình độ học vấn', 1, 5, NULL, NULL, NULL, NULL, NULL, CAST(N'2019-05-02T08:30:15.430' AS DateTime), N'duynn', CAST(N'2019-05-02T08:30:15.430' AS DateTime), N'duynn')
INSERT [dbo].[RecruitmentSkillDetail] ([Id], [Name], [DataType], [CategoryId], [CategoryData], [UpperNumber], [LowerNumber], [AbsoluteNumber], [TextValue], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Ngoại hình', 1, 4, NULL, NULL, NULL, NULL, NULL, CAST(N'2019-05-02T08:30:40.260' AS DateTime), N'duynn', CAST(N'2019-05-02T08:30:40.260' AS DateTime), N'duynn')
SET IDENTITY_INSERT [dbo].[RecruitmentSkillDetail] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name], [Code], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, N'Quản trị', N'QuanTri', CAST(N'2019-05-02T11:54:59.740' AS DateTime), N'admin', CAST(N'2019-05-02T11:54:59.740' AS DateTime), N'admin')
INSERT [dbo].[Role] ([Id], [Name], [Code], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Người dùng', N'NguoiDung', CAST(N'2019-05-03T03:50:10.763' AS DateTime), N'admin', CAST(N'2019-05-03T03:50:10.763' AS DateTime), N'admin')
INSERT [dbo].[Role] ([Id], [Name], [Code], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Quản lý nhân sự', N'123', CAST(N'2019-05-06T10:22:18.367' AS DateTime), N'admin', CAST(N'2019-05-06T10:22:18.367' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[RoleOperation] ON 

INSERT [dbo].[RoleOperation] ([Id], [RoleId], [OperationId], [IsAccess], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, 2, 1, 1, CAST(N'2019-05-03T12:54:28.207' AS DateTime), NULL, CAST(N'2019-05-03T12:54:28.207' AS DateTime), NULL)
INSERT [dbo].[RoleOperation] ([Id], [RoleId], [OperationId], [IsAccess], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (40, 4, 2, 1, CAST(N'2019-05-07T08:46:18.397' AS DateTime), NULL, CAST(N'2019-05-07T08:46:18.397' AS DateTime), NULL)
INSERT [dbo].[RoleOperation] ([Id], [RoleId], [OperationId], [IsAccess], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (41, 4, 5, 1, CAST(N'2019-05-07T08:46:18.397' AS DateTime), NULL, CAST(N'2019-05-07T08:46:18.397' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[RoleOperation] OFF
SET IDENTITY_INSERT [dbo].[TaiLieuDinhKem] ON 

INSERT [dbo].[TaiLieuDinhKem] ([Id], [KichThuoc], [NgayPhatHanh], [TenTaiLieu], [LoaiTaiLieu], [Item_ID], [MoTa], [DuongDanFile], [DinhDangFile], [SoLuongDownload], [UserId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, 12, CAST(N'2019-05-03T15:02:47.050' AS DateTime), N'Yêu cầu.docx', N'FileDotTuyenDung', 2, NULL, N'FileDotTuyenDung\Yêu cầu.docx', N'.docx', 0, 1, CAST(N'2019-05-03T08:02:47.050' AS DateTime), N'admin', CAST(N'2019-05-03T08:02:47.050' AS DateTime), N'admin')
INSERT [dbo].[TaiLieuDinhKem] ([Id], [KichThuoc], [NgayPhatHanh], [TenTaiLieu], [LoaiTaiLieu], [Item_ID], [MoTa], [DuongDanFile], [DinhDangFile], [SoLuongDownload], [UserId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, 15, CAST(N'2019-05-04T09:53:58.077' AS DateTime), N'phieu_dki.docx', N'FileDotTuyenDung', 3, NULL, N'FileDotTuyenDung\phieu_dki.docx', N'.docx', 0, 1, CAST(N'2019-05-04T02:53:58.077' AS DateTime), N'admin', CAST(N'2019-05-04T02:53:58.077' AS DateTime), N'admin')
INSERT [dbo].[TaiLieuDinhKem] ([Id], [KichThuoc], [NgayPhatHanh], [TenTaiLieu], [LoaiTaiLieu], [Item_ID], [MoTa], [DuongDanFile], [DinhDangFile], [SoLuongDownload], [UserId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, 47, CAST(N'2019-05-07T14:54:28.407' AS DateTime), N'loi ky tu db.png', N'FileDotTuyenDung', 6, NULL, N'FileDotTuyenDung\loi ky tu db.png', N'.png', 0, 1, CAST(N'2019-05-07T07:54:28.407' AS DateTime), N'admin', CAST(N'2019-05-07T07:54:28.407' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[TaiLieuDinhKem] OFF
SET IDENTITY_INSERT [dbo].[TD_CauHinhSangLocUngVien] ON 

INSERT [dbo].[TD_CauHinhSangLocUngVien] ([Id], [Title], [Type], [Note], [InterviewDate], [InterviewerId], [TestId], [TestApprovedLimit], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [DotTuyenDungId], [Priority], [InterviewerName]) VALUES (1, N'Phỏng vấn sơ loại', N'Interview', N'Chỉ hỏi các kỹ năng, chưa ép ứng viên vận dụng', CAST(N'2019-05-20T00:00:00.000' AS DateTime), NULL, NULL, NULL, CAST(N'2019-05-16T08:54:46.927' AS DateTime), N'admin', CAST(N'2019-05-16T08:54:46.927' AS DateTime), N'admin', NULL, NULL, N'Vũ Xuân Hoàn')
INSERT [dbo].[TD_CauHinhSangLocUngVien] ([Id], [Title], [Type], [Note], [InterviewDate], [InterviewerId], [TestId], [TestApprovedLimit], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [DotTuyenDungId], [Priority], [InterviewerName]) VALUES (2, N'Phỏng vấn sơ loại', N'Interview', N'Chỉ hỏi các kỹ năng, chưa ép ứng viên vận dụng', CAST(N'2019-05-19T00:00:00.000' AS DateTime), NULL, NULL, NULL, CAST(N'2019-05-16T09:00:52.733' AS DateTime), N'admin', CAST(N'2019-05-17T09:15:31.737' AS DateTime), N'admin', 2, 1, N'Vũ Xuân Hoàn')
INSERT [dbo].[TD_CauHinhSangLocUngVien] ([Id], [Title], [Type], [Note], [InterviewDate], [InterviewerId], [TestId], [TestApprovedLimit], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [DotTuyenDungId], [Priority], [InterviewerName]) VALUES (5, N'Test sơ khảo trình độ', N'Test', N'Chấm chặt', NULL, NULL, 1, N'> 7 điểm', CAST(N'2019-05-17T09:30:18.607' AS DateTime), N'admin', CAST(N'2019-05-17T09:30:18.607' AS DateTime), N'admin', 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[TD_CauHinhSangLocUngVien] OFF
SET IDENTITY_INSERT [dbo].[TD_DotTuyenDung] ON 

INSERT [dbo].[TD_DotTuyenDung] ([Id], [TenDot], [NgayBatDau], [NgayKetThuc], [TrangThai], [GhiChu], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Tuyển dụng lập trình viên .net', CAST(N'2019-05-03T00:00:00.000' AS DateTime), CAST(N'2019-05-25T00:00:00.000' AS DateTime), N'MOITAO', N'Hello các bạn', CAST(N'2019-05-03T02:48:02.103' AS DateTime), N'admin', CAST(N'2019-05-03T08:02:47.013' AS DateTime), N'admin')
INSERT [dbo].[TD_DotTuyenDung] ([Id], [TenDot], [NgayBatDau], [NgayKetThuc], [TrangThai], [GhiChu], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Tuyển dụng văn phòng mới', CAST(N'2019-05-08T00:00:00.000' AS DateTime), CAST(N'2019-05-08T00:00:00.000' AS DateTime), N'DADUYET', N'sdfa', CAST(N'2019-05-04T02:53:53.243' AS DateTime), N'admin', CAST(N'2019-05-04T10:17:36.900' AS DateTime), N'admin')
INSERT [dbo].[TD_DotTuyenDung] ([Id], [TenDot], [NgayBatDau], [NgayKetThuc], [TrangThai], [GhiChu], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (4, N'Tuyển dụng tháng 6', CAST(N'2019-05-01T00:00:00.000' AS DateTime), CAST(N'2019-05-30T00:00:00.000' AS DateTime), N'MOITAO', N'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', CAST(N'2019-05-07T06:51:17.073' AS DateTime), N'admin', CAST(N'2019-05-30T02:03:23.667' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[TD_DotTuyenDung] OFF
SET IDENTITY_INSERT [dbo].[TD_HoSoUngVien] ON 

SET IDENTITY_INSERT [dbo].[TD_HoSoUngVien] OFF
SET IDENTITY_INSERT [dbo].[TD_QuanLyMauTest] ON 

INSERT [dbo].[TD_QuanLyMauTest] ([Id], [FileName], [FileDirectory], [Category], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [Size]) VALUES (1, N'Test thực tập .Net', N'FileMauTest\Test_thuc_tap_.Net.docx', N'.NET', CAST(N'2019-05-14T11:21:00.600' AS DateTime), N'admin', CAST(N'2019-05-14T11:21:00.600' AS DateTime), N'admin', 11)
SET IDENTITY_INSERT [dbo].[TD_QuanLyMauTest] OFF
SET IDENTITY_INSERT [dbo].[TD_YeuCauVaDotTuyenDung] ON 

INSERT [dbo].[TD_YeuCauVaDotTuyenDung] ([Id], [IdYeuCauTuyenDung], [IdDotTuyenDung], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, 3, 3, CAST(N'2019-05-04T03:23:38.847' AS DateTime), N'admin', CAST(N'2019-05-04T03:23:38.847' AS DateTime), N'admin')
INSERT [dbo].[TD_YeuCauVaDotTuyenDung] ([Id], [IdYeuCauTuyenDung], [IdDotTuyenDung], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, 6, 3, CAST(N'2019-05-04T03:24:09.067' AS DateTime), N'admin', CAST(N'2019-05-04T03:24:09.067' AS DateTime), N'admin')
INSERT [dbo].[TD_YeuCauVaDotTuyenDung] ([Id], [IdYeuCauTuyenDung], [IdDotTuyenDung], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (4, 9, 4, CAST(N'2019-05-07T06:51:17.120' AS DateTime), N'admin', CAST(N'2019-05-07T06:51:17.120' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[TD_YeuCauVaDotTuyenDung] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([Id], [UserId], [RoleId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, 1, 1, CAST(N'2019-05-03T03:35:06.243' AS DateTime), N'admin', CAST(N'2019-05-03T03:35:06.243' AS DateTime), N'admin')
INSERT [dbo].[UserRole] ([Id], [UserId], [RoleId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (4, 11, 2, CAST(N'2019-05-06T09:59:49.837' AS DateTime), N'admin', CAST(N'2019-05-06T09:59:49.837' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
/****** Object:  Index [IX_UserId]    Script Date: 10/3/2019 9:01:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AppClaim]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/3/2019 9:01:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AppLogin]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/3/2019 9:01:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AppRole]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/3/2019 9:01:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AppUser]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 10/3/2019 9:01:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AppUserRole]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/3/2019 9:01:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AppUserRole]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppClaim]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppClaim_dbo.AppUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppClaim] CHECK CONSTRAINT [FK_dbo.AppClaim_dbo.AppUser_UserId]
GO
ALTER TABLE [dbo].[AppLogin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppLogin_dbo.AppUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppLogin] CHECK CONSTRAINT [FK_dbo.AppLogin_dbo.AppUser_UserId]
GO
ALTER TABLE [dbo].[AppUserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserRole_dbo.AppRole_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AppRole] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppUserRole] CHECK CONSTRAINT [FK_dbo.AppUserRole_dbo.AppRole_RoleId]
GO
ALTER TABLE [dbo].[AppUserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppUserRole_dbo.AppUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppUserRole] CHECK CONSTRAINT [FK_dbo.AppUserRole_dbo.AppUser_UserId]
GO
USE [master]
GO
